{% extends "header.html" %}
{% block title %}Results{% endblock %}
{% block content_root %}
<div class="jumbotron">
    <div class="container">
        <h2 class="">References and Acknowledgements</h2>
        <p>The resources listed here greatly helped me to create this project and make it function.</p>
    </div>
</div>
<div class="container">
    <h1 class="text-center"></h1>
        <ul class="list-group">
            <li><a href="https://www.udacity.com/"><b>Udacity</b></a> - Udacity's Data Scientist course introduced me to Flask as well as variety of natural language processing
            and machine learning practices that were used in this project.</li>
            <li><a href="https://plotly.com/"><b>Plotly</b></a> - Plotly was used to render the graphs and data table seen on the overview page.</li>
            <li><a href="https://scikit-learn.org/stable/index.html#"><b>scikit-learn</b></a> - scikit-learn was used for the machine learning portions of this project.</li>
            <li><a href="https://www.sqlalchemy.org/"><b>SQLAlchemy</b></a> - SQLAlchemy was used to load the dataset after extraction and transformation.</li>
            <li><a href="https://www.nltk.org/"><b>Natural Language Tool Kit (NTLK)</b></a> - NLTK was used for the natural language processing portion of this project</li>
            <li><a href="https://numpy.org/"><b>Numpy</b></a> - Numpy was used for numerical computations in the extraction and transformation portion of this project </li>
            <li><a href="https://pandas.pydata.org/"><b>Pandas</b></a> - Pandas was used for data analysis in the exploratory, extraction, and transformation portions of this project.</li>
        </ul>
</div>
{% endblock %}